@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Righteous&display=swap');

html, body{
    height: 100vh;
    --primary-red: #F25F5C;
    --primary-yellow: #f1cd39;
    --primary-blue: #247BA0;

    --dark-grey: #50514F;

    /* background-color: #f3f7fd; */
    

    font-family: 'Comfortaa', cursive;
}

body{
    background-image: url(images/background.png) fixed no-repeat;
}


#app{
    height: 100vh;
}

.app-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-header{
    border-radius: 10px;
    background-color: white;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 30px 0px;
    box-shadow:
    0 8.8px 10.4px rgba(0, 0, 0, 0.086),
    0 10px 12px rgba(0, 0, 0, 0.12)
    ;
}

.app-header-name{
    font-size: 46px;
    font-family: 'Righteous', cursive;
    color: var(--primary-yellow);
    text-shadow: 2px 2px 2px var(--primary-blue);
}

.app-header-controls{
    width: 200px;
    padding: 20px;
}

.app-body{
    width:70%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.left-side{
    width:48%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
    padding-left: 10px;
}

.right-side{
    width:48%;
    height: 100%;
}

.show-more{
    background-color: white;
    border-radius: 10px;
    width:118px;
    height: 157px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin:0px 20px 20px 0px;
    padding: 5px;
    cursor: pointer;
    box-shadow:
    0 8.8px 10.4px rgba(0, 0, 0, 0.086),
    0 10px 12px rgba(0, 0, 0, 0.12)
    ;
}

.app-footer{
    width: 70%;
    padding: 20px 0px;
}